@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);

/* reset css */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Poppins', sans-serif;
}

button,
input {
  font: inherit;
  color: inherit;
}

/* game styling */

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: url(/image/bg-guess-the-word-small.jpg) no-repeat;
  background-position: center;
  background-size: cover;
  color: rgb(248, 252, 255);
  padding: 10px;
}

.container {
  width: 100%;
  max-width: 320px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(23, 30, 48);
  padding: 1.5rem;
  border-radius: 7px;
  box-shadow: 0 0 2px 0px #030616;
}

img {
  margin-bottom: 1.5rem;
}

#scramble-word-cons {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 0.4rem 0;
  background-color: rgb(74, 85, 103);
  box-shadow: 0px 4px 0px 0px #030616;
  border-radius: 5px;
  margin-bottom: 1.3rem;
}

#scramble-word-cons span {
  margin-left: 0.825rem;
  font-weight: 400;
  font-size: 1.5rem;
  letter-spacing: 0.825rem;
}

#wrong-guess-cons {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 2.5rem;
}

#tries-cons,
#mistakes-con {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.75rem;
  font-weight: 400;
  column-gap: 5px;
}

#guess-progress {
  display: flex;
  column-gap: 5px;
}

#guess-progress > .progress {
  width: 6px;
  height: 6px;
  background-color: rgb(59, 66, 82);
  border-radius: 50%;
}

#input-cons {
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 8px;
  flex: 1;
  margin-bottom: 2.5rem;
}

#input-cons > input {
  max-width: 2.2rem;
  height: 2rem;
  background: transparent;
  border: none;
  border-radius: 5px;
  text-align: center;
  box-shadow: 0 0 0 1.5px rgb(71, 81, 99);
  font-weight: 500;
  pointer-events: none;
}

#input-cons > input:focus {
  outline: none;
  box-shadow: 0 0 0 1.5px rgb(112, 36, 128);
}

#btn-cons {
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 1rem;
}

#btn-cons > button {
  background-color: rgb(201, 81, 231);
  border: none;
  filter: drop-shadow(0px 4px 0px #7b248a);
  padding: 0.3rem 1.6rem;
  border-radius: 5px;
  font-size: 0.85rem;
  cursor: pointer;
  transition: transform 0.2s ease;
}

#btn-cons > button:hover {
  transform: translateY(-1px);
}
